
html,body{height:100%} 
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.nav-sidebar{
    font-size: 14px;
    /* background-color: #343a40; */
    /* color:#c2c7d0; */
}
.container-fluid{
    padding: 0;
}
.nav-sidebar .safety-officer{
    padding:15px 7px 15px 7px;
    margin:15px 0 0 15px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
}
.nav-sidebar .safety-officer .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px 0 0; 
}
.nav-sidebar .safety-officer > *{
    float: left;
}
.nav-sidebar .safety-officer .info{
    line-height: 40px;
}
.pie-box{
    padding:25px 15px;
    text-align: center;
}
.pie-text{
    line-height:35px;
    font-size:16px;
    font-weight: 700;
    text-align: center;
}
.productionLine{
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
    margin: 15px 0;
    padding-top: 10px;
}
.staff-monitoring dt{
    font-size:18px;
    font-weight: 700;
}
.fixedNum,.onlineNum,.allowNum{
    font-size: 16px;
    font-weight: 700;
}
.fixedNum{
    color: rgba(116, 185, 255,1.0);
}
.onlineNum{
    color: rgba(85, 239, 196,1.0);
}
.allowNum{
    color: rgba(85, 239, 196,1.0);
}
.staff-employed > div{
    float: left;
}
.staff-employed .enter-into{
    color:rgba(85, 239, 196,1.0); 
}
.enter-into{
    padding-right: 3px;
}
.staff-monitoring,.fault-info{
   
    margin:15px 0 0 15px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
}
.staff-monitoring dt,.fault-info dt{
    padding: 10px;
    border-bottom: 2px #ccc solid;
}
.staff-monitoring dd,.fault-info dd{
    padding: 5px 15px;
}
.fault-info dd{
    border-bottom: 1px #ccc solid;
}
.facility-list{
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
    padding: 15px 0 0 0;
}
.facility-item .normal ,.facility-item .damage{
    height: 80px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
}
.facility-item .normal{
    background-color: #55efc4;
}
.facility-item .damage{
    background-color: #fab1a0;
}

